<h1> On this page the user fills out their profile</h1>

</br>
</br>
<%= render 'form' %>
</br>
</br>

<h3> And at the end, they get sent to </h3>
<%= link_to 'Create My Order', make_shirt_path %>